.section {
    height: 100%;
    width: 100%;
    padding: 2rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.home-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.custom-animal-image {
    width: 30em !important;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}